.searchSugs {
  position: absolute;
  background-color: rgb(39, 39, 39, 0.9);
  opacity: 100%;
  border-radius: 0 10px 10px 10px;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sugCard {
  display: flex;
  font-size: medium;
  color: rgba(255, 255, 255, 0.7);
  width: 280px;
  border-bottom: 1px solid rgb(44, 44, 44);
  height: 60px;
  cursor: pointer;
}

.sugCard:hover {
  background-color: lightgray;
  background-color: #313131;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
}

.sugPics {
  height: 55px;
}

.searchSug {
  display: flex;
  flex-direction: column;
}

.sug-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sug-author {
  font-size: 15px;
}

.sug-name {
  font-size: 16.5px;
  font-weight: 600;
}

.inactive,
.active {
  padding: 4px;
}

i {
  background-color: rgb(237, 217, 190);
  padding: 6px 10px 6px 10px;
  border-radius: 3px;
  color: #424242;
  cursor: pointer;
}

i:hover {
  background-color: rgb(206, 171, 125);
}
