.nav {
  background-color: rgba(244,241,234,1)
}

.upperNav {
  background-color:rgba(234,208,173,1);
}


.nav a {
  display: flex;
  flex-direction: row;
  float: left;
  width: 50%;
  justify-content: space-around;
  margin-bottom: 25px;
}

.nav a:hover {
  font-weight: bold;
  box-shadow: 0 0 10px 0 black;
}
