.card-img {
  height: 150px;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.card-quantity {
  font-size: 15px;
  position: relative;
}

.remove-Button {
  position: relative;
  bottom: 0px;
}

.card-price {
  color: rgb(153, 19, 19);
}

.card-name {
  font-size: 20px;
}

.card-rating {
  height: 12px;
}

.product-card {
  border: 0.8px solid lightgrey;
  padding: 8px;
  width: 250px;
}

.product-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
